.svg-menu {
  width: 40px;
  height: 30px;
}
.svg-call {
  width: 30px;
  height: 35px;
}

.logoArt {
  @media screen and (max-width: 767px) {
    width: 67px;
    height: 74px;
  }
  @media screen and (min-width: 768px) {
    width: 48px;
    height: 54px;
  }
  @media screen and (min-width: 1440px) {
    width: 56px;
    height: 63px;
  }
}

.iconMenu {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;

    width: 40px;
    height: 30px;

    padding: 0;
    border: none;
    margin: 0;

    background-color: $color-white;
  }
}
.iconInsta,
.iconFacebook {
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    width: 35px;
    height: 35px;
  }
  @media screen and (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
  @media screen and (min-width: 1440px) {
    width: 28px;
    height: 28px;
  }
}
// .iconFacebook {
//   margin-right: 10px;
//   @media screen and (max-width: 767px) {
//     width: 35px;
//     height: 35px;
//   }
//   @media screen and (min-width: 768px) {
//     width: 30px;
//     height: 30px;
//   }
// }
