@mixin font($font-family, $font-weight, $color) {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight;
  color: $color;
}

@mixin borderLeft {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: $color-yellow;
}

@mixin borderRight {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $color-yellow;
}

@mixin borderInput($backgroundColor, $borderColor) {
  background-color: $backgroundColor;
  border: 1px solid $color-yellow;
}
