.footer {
  background-color: $color-yellow;
}
.heading-kit {
  display: block;
  font-family: $fontAvangard;
  font-style: normal;
  font-weight: normal;
  font-size: 76px;
  line-height: 80px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $color-black;

  margin-top: 0px;
  margin-bottom: 17px;
}
