.footer {
  background-color: $color-yellow;
  padding-bottom: 30px;
}
.heading-kit {
  display: block;
  font-family: $fontAvangard;
  font-style: normal;
  font-weight: normal;
  font-size: 76px;
  line-height: 80px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $color-black;

  margin-top: 0px;
  margin-bottom: 26px;
}
.blocSocials {
  display: flex;
  align-items: center;
}
.blockContaсts {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
}
.mailLink {
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;

  color: $color-black;
  margin-bottom: 15px;
}
.telLink {
  font-family: $fontRoboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;

  color: $color-black;
}
.blockSocSeti {
  display: flex;
  flex-direction: column;
}
.blockInsta {
  display: flex;
  //justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: $fontRoboto;
  font-size: 15px;
  line-height: 18px;

  color: $color-black;
  margin-bottom: 20px;
}
.blockFacebook {
  display: flex;
  //justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: $fontRoboto;
  font-size: 15px;
  line-height: 18px;

  color: $color-black;
}
