.sectionCalc{
    background-color: $color-yellow;
    background-image: url('./images/girls.png')
}
.text-iwp{
    font-family: roboto;
    font-style: normal;
font-weight: normal;
font-size: 76px;
line-height: 80px;


text-transform: uppercase;

color: $color-black;
}