.sectionPrice {
  background-color: $color-black;
}
@media screen and (max-width: 767px) {
  .priceHeading {
    font-family: $fontRoboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;

    color: $color-white;
    margin: 0px 0px 36px;

    &-text {
      font-family: $fontRoboto;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;

      color: $color-white;
      margin: 0px 0px 35px;
    }
  }
}
