.svg-menu {
  width: 40px;
  height: 30px;
}
.svg-call {
  width: 30px;
  height: 35px;
}

.logoArt {
  width: 67px;
  height: 74px;
}

.iconMenu {
  display: block;
}
.iconInsta {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.iconFacebook {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
