html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  font-family: $fontRoboto;

  margin: 0px;
}

.container {
  width: 375px;
  padding: 0px 30px;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0px 50px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding: 0px 80px;
  }
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
