html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  font-family: $fontRoboto;

  margin: 0px;
}

.container {
  margin: auto;

  @media screen and (max-width: 767px) {
    width: 375px;
    padding: 0px 30px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0px 50px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding: 0px 80px;
  }
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
}
