html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  font-family: $fontRoboto;

  margin: 0px;
}

.container {
  width: 375px;
  padding: 0px 30px;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0px 40px;
  }
  @media screen and (min-width: 1024px) {
    width: 1520px;
    padding: 0px 40px;
  }
}
