.sectionAbout {
  background-color: $color-black;
  @media screen and (max-width: 767px) {
    //position: relative;
    padding: 86px 0px 83px;
  }
  @media screen and (min-width: 768px) {
    //position: relative;
    padding: 130px 0px 105px;
  }
  @media screen and (min-width: 1440px) {
    padding: 150px 0px 75px;
  }
}
.blockAbout {
  display: block;
  position: relative;
  //z-index: 1;
  //width: 440px;
  margin: 0px 0px 35px;
  @media screen and (min-width: 1440px) {
    margin: 0px 0px 65px;
  }
}
.about-heading {
  position: relative;
  z-index: 3;
  @include font($fontRoboto, bold, $color-white);
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin: 0px 0px 43px;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 56px;
    margin: 0px 0px 60px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
    line-height: 75px;
    margin: 0px 0px 50px;
  }
}
.about-heading__underline {
  position: absolute;
  z-index: 1;
  @media screen and (max-width: 767px) {
    top: 26px;
    left: 123px;
    background-color: $color-yellow;
    height: 4px;
    width: 87px;
  }
  @media screen and (min-width: 768px) {
    top: 43px;
    left: 13px;
    background-color: $color-yellow;
    height: 6px;
    width: 144px;
  }
  @media screen and (min-width: 1440px) {
    top: 56px;
    left: 25px;
    background-color: $color-yellow;
    height: 8px;
    width: 182px;
  }
}

.serviceOffer {
  @media screen and (max-width: 767px) {
    @include font($fontRoboto, normal, $color-white);
    font-size: 15px;
    line-height: 18px;
    margin: 0px 0px 35px;
    &:nth-child(-n + 3) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    @include font($fontRoboto, normal, $color-white);
    width: 440px;
    font-size: 15px;
    line-height: 18px;
    margin: 0px;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1440px) {
    @include font($fontRoboto, normal, $color-white);
    width: 485px;
    font-size: 20px;
    line-height: 23px;
    margin: 0px;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
}
.serviceOfferNone {
  @media screen and (min-width: 1440px) {
    display: none;
  }
}
.serviceOffer-laptop {
  display: none;
  @media screen and (min-width: 1440px) {
    @include font($fontRoboto, normal, $color-white);
    display: block;
    width: 481px;
    font-size: 20px;
    line-height: 23px;
    // margin: 0px;
    // &:nth-child(3) {
    //   margin-bottom: 20px;
    // }
  }
}
.jobExperience {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1440px) {
    padding: 0px 0px 311px;
  }
}
.blokExperience {
  & > div {
    background-color: $color-yellow;
  }
  &-heading-year {
    @include font($fontAvangardGITC, normal, $color-yellow);
  }
  @media screen and (max-width: 767px) {
    display: inline-block;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: $color-yellow;
    padding: 185px 0px 70px;

    & > div {
      width: 80px;
      height: 5px;
      margin: 0px 0px 13px;
    }

    &-heading {
      width: 106px;
      @include font($fontRoboto, bold, $color-white);
      font-size: 17px;
      text-transform: uppercase;
      margin: 0;
      &-year {
        font-size: 76px;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: inline-block;

    & > div {
      width: 150px;
      height: 10px;
      margin: 0px 0px 13px;
    }

    &-heading {
      width: 146px;
      @include font($fontRoboto, bold, $color-white);
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      margin: 0;
      &-year {
        display: block;
        @include borderLeft;
        padding: 370px 0px 25px;
        margin: 0px;
        font-size: 160px;
        line-height: 0.8;
        text-transform: uppercase;
      }
    }
  }
  @media screen and (min-width: 1440px) {
    position: relative;
    left: 320px;
    & > div {
      width: 200px;
      height: 13px;
      margin: 0px 0px 13px;
    }

    &-heading {
      position: absolute;
      top: 210px;
      left: 80px;
      width: 150px;
      &-year {
        font-size: 170px;
        padding: 145px 0px 35px;
      }
    }
  }
}
.blokPaintedWall {
  & > div {
    background-color: $color-yellow;
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    left: 157px;
    display: inline-block;
    @include borderLeft;
    padding: 0px 0px 122px;

    & > div {
      width: 80px;
      height: 5px;
      margin: 0px 0px 13px;
    }
    &-heading-more {
      display: block;
      @include font($fontRoboto, normal, $color-white);
      font-size: 15px;
      margin: 0px 0px 5px;
    }
    &-heading-number {
      @include font($fontAvangardGITC, normal, $color-yellow);
      font-size: 76px;
      line-height: 0.77;
      margin: 0px 0px 15px;
    }

    &-heading-text {
      width: 143px;
      @include font($fontRoboto, bold, $color-white);
      font-size: 17px;
      text-transform: uppercase;
      margin: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    left: 220px;
    @include borderLeft;
    padding: 59px 0px 130px;

    &-heading-more {
      display: block;
      @include font($fontRoboto, normal, $color-white);
      font-size: 20px;
      margin-bottom: 5px;
    }
    &-heading-number {
      @include font($fontAvangardGITC, normal, $color-yellow);
      font-size: 160px;
      line-height: 0.8;
      letter-spacing: -14px;
      margin: 0px 0px 25px;
    }
    & > div {
      width: 150px;
      height: 10px;
      margin: 0px 0px 15px;
    }

    &-heading-text {
      width: 185px;
      @include font($fontRoboto, bold, $color-white);
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      margin: 0px;
    }
  }
  @media screen and (min-width: 1440px) {
    top: -660px;
    left: 640px;
    padding: 356px 0px 170px;
    &-heading-more {
      margin-bottom: 25px;
    }
    & > div {
      width: 200px;
      height: 13px;
      margin: 0px 0px 30px;
    }

    &-heading-number {
      font-size: 170px;
      margin: 0px 0px 35px;
    }
  }
}
.amountPain {
  & > div {
    background-color: $color-yellow;
  }
  @media screen and (max-width: 767px) {
    display: block;
    width: 143px;
    position: absolute;
    top: 133px;
    right: 0px;
    @include borderRight;
    padding: 98px 0px 74px;

    & > div {
      position: absolute;
      top: 200px;
      right: 14px;
      width: 80px;
      height: 5px;
    }
    &-more {
      display: block;
      @include font($fontRoboto, normal, $color-white);
      font-size: 15px;
      padding-left: 34px;
    }
    &-number {
      display: block;
      // position: relative;
      @include font($fontAvangardGITC, normal, $color-yellow);
      font-size: 76px;
      text-align: left;
      letter-spacing: -10px;
      padding-left: 25px;
      margin: 0px;
      margin-bottom: 12px;
    }
    &-text {
      display: block;
      width: 143px;
      @include font($fontRoboto, bold, $color-white);
      font-size: 17px;
      text-transform: uppercase;
      //padding-left: 5px;
      margin: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: -500px;
    left: 444px;
    display: block;
    @include borderLeft;
    padding: 850px 0px 74px;

    & > div {
      width: 150px;
      height: 10px;
      margin-bottom: 15px;
    }
    &-more {
      display: block;
      @include font($fontRoboto, normal, $color-white);
      font-size: 20px;
    }
    &-number {
      display: block;
      position: relative;
      left: -20px;
      @include font($fontAvangardGITC, normal, $color-yellow);
      font-size: 160px;
      line-height: 0.8;
      letter-spacing: -25px;
      margin-bottom: 25px;
    }
    &-text {
      display: block;
      width: 200px;
      @include font($fontRoboto, bold, $color-white);
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      margin: 0px;
    }
  }
  @media screen and (min-width: 1440px) {
    top: -659px;
    left: 965px;
    padding: 725px 0px 240px;
    &-more {
      margin-bottom: 25px;
    }
    &-number {
      font-size: 170px;
      line-height: 0.8;
      letter-spacing: -20px;
      margin: 0px 0px 35px;
    }
    & > div {
      width: 200px;
      height: 13px;
      margin-bottom: 30px;
    }
    &-text {
      width: 200px;
    }
  }
}
