.sectionCalc {
  background-color: $color-yellow;

  @media screen and (min-width: 768px) {
    padding: 15px 0px 342px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0px;
  }
}
.hero-img {
  position: relative;
  z-index: 3;
}
.img-girls {
  @media screen and (max-width: 767px) {
    display: block;
    position: absolute;
    top: 185px;
    left: -30px;
  }
  @media screen and (min-width: 768px) {
    //display: block;
    position: absolute;
    z-index: 1;
    top: 208px;
    left: -50px;
  }
  @media screen and (min-width: 1440px) {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 640px;
  }
}
.blockCalc {
  overflow: hidden;
  @media screen and (max-width: 767px) {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 29px;
    padding-bottom: 46px;
  }
  @media screen and (min-width: 768px) {
    position: relative;
    z-index: 2;
  }
  @media screen and (min-width: 1440px) {
    position: relative;
    z-index: 2;
    height: 800px;
  }
}
.text-iwp {
  @include font($fontAvangard, normal, $color-black);
  text-transform: uppercase;
  transform: translateX(-100%);
  opacity: 0;
  //transition: opacity 300ms ease-in-out, transform 400ms ease-in-out;
  @media screen and (max-width: 767px) {
    display: block;
    font-size: 70px;
    line-height: 80px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    font-size: 150px;
    line-height: 160px;

    margin: 0px 0px 40px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 45px;
    font-size: 280px;
    line-height: 250px;
  }
}

.active {
  transform: translateX(0%);
  opacity: 1;
  transition: opacity 300ms ease-in-out, transform 400ms ease-in-out;
}
.text-painter-wall {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 210px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 175px;
    left: 391px;
  }
  @media screen and (min-width: 1440px) {
    position: absolute;
    top: 395px;
    left: 1035px;
  }
  & span {
    display: block;
    @include font($fontAvangard, normal, $color-black);
    @media screen and (max-width: 767px) {
      width: 160px;
      font-size: 24px;
      line-height: 29px;
      text-transform: lowercase;
    }
    @media screen and (min-width: 768px) {
      width: 160px;
      font-size: 24px;
      line-height: 29px;
      text-transform: lowercase;
    }
    @media screen and (min-width: 1440px) {
      width: 240px;
      font-size: 36px;
      line-height: 43px;
      text-transform: lowercase;
    }
  }
  & p {
    margin: 0px;
  }
}
.block-btn-calc {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (min-width: 1440px) {
    position: absolute;
    display: flex;
    top: 270px;
    left: 1113px;
    //justify-content: flex-end;
  }
}
.btn-calc {
  display: block;
  position: relative;
  z-index: 4;

  @include font($fontAvangard, normal, $color-white);
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  background-color: $color-black;

  @media screen and (max-width: 767px) {
    padding: 22px 30px;
  }
  @media screen and (min-width: 768px) {
    width: auto;

    padding: 24px 30px;
  }
  @media screen and (min-width: 1440px) {
    width: 247px;

    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding: 20px 30px 20px 28px;

    &:hover {
      font-size: 20px;
      color: $color-yellow;

      transition: color 1050ms ease, font-size 450ms ease;
    }
  }
}
