.sectionPortfolio {
  //position: relative;
  background-color: $color-black;
  padding: 75px 0px 124px;
}
@media screen and (max-width: 767px) {
  .portfolioHeading {
    position: relative;
    z-index: 2;
    @include font($fontRoboto, bold, $color-white);
    // font-family: $fontRoboto;
    // font-style: normal;
    // font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;

    //color: $color-white;
    margin: 0px;
  }
  .portfolioHeading-underline {
    position: relative;
    z-index: 1;
    top: -8px;
    left: 75px;
    background-color: $color-yellow;
    width: 184px;
    height: 4px;
  }
}
