.sectionPaintingCalc {
  background-color: $color-black;
  padding-bottom: 117px;
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.background {
  position: relative;
  z-index: 1;
}
.bkdPaintiing {
  @media screen and (min-width: 1440px) {
    display: flex;
    justify-content: space-between;
  }
}
.paintingCalc-heading {
  position: relative;
  z-index: 3;
  @include font($fontRoboto, bold, $color-white);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin: 0px 0px 38px;
  }
  @media screen and (min-width: 768px) {
    width: 334px;
    font-size: 48px;
    line-height: 56px;
    margin: 0px 0px 60px;
  }
  @media screen and (min-width: 1440px) {
    width: 425px;
    font-size: 64px;
    line-height: 75px;
  }
}
.paintingCalc-line,
.paintingCalc-lines {
  position: absolute;
  z-index: 2;
  background-color: $color-yellow;
}

.paintingCalc-line {
  @media screen and (max-width: 767px) {
    top: 26px;
    left: 71px;
    width: 194px;
    height: 4px;
  }

  @media screen and (min-width: 768px) {
    top: 42px;
    left: 16px;
    width: 310px;
    height: 6px;
  }
  @media screen and (min-width: 1440px) {
    top: 56px;
    left: 24px;
    width: 409px;
    height: 8px;
  }
}
.paintingCalc-lines {
  @media screen and (max-width: 767px) {
    top: 62px;
    left: 102px;
    width: 137px;
    height: 4px;
  }

  @media screen and (min-width: 768px) {
    top: 99px;
    left: 16px;
    width: 221px;
    height: 6px;
  }
  @media screen and (min-width: 1440px) {
    top: 132px;
    left: 24px;
    width: 288px;
    height: 8px;
  }
}

.paintingCalc-text {
  @include font($fontRoboto, normal, $color-white);
  font-size: 15px;
  line-height: 18px;
  @media screen and (max-width: 767px) {
    margin: 0px 0px 30px;
  }
  @media screen and (min-width: 768px) {
    width: 446px;
    margin: 0px 0px 70px;
  }
  @media screen and (min-width: 1440px) {
    margin: 0;
    font-size: 20px;
    line-height: 23px;
  }
}
.formCalc {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  @media screen and (min-width: 1440px) {
    align-items: start;
  }
}
.blockInput {
  display: flex;
  flex-direction: column;

  &:nth-child(-n + 3) {
    margin: 0px 0px 25px;
  }
}
.inputName {
  @include font($fontRoboto, normal, $color-white);

  @media screen and (max-width: 767px) {
    margin: 0px 0px 13px;

    font-size: 15px;
    line-height: 18px;
  }
  @media screen and (min-width: 768px) {
    margin: 0px 0px 15px;

    font-size: 18px;
    line-height: 18px;
  }
}
.data-input {
  height: 58px;
  @include borderInput($color-black, $color-yellow);

  @media screen and (min-width: 768px) {
    width: 566px;
  }
  @media screen and (min-width: 1440px) {
    width: 640px;
  }
}
.sketch {
  @include font($fontRoboto, normal, $color-white);

  @media screen and (max-width: 767px) {
    margin: 0px 0px 13px;

    font-size: 15px;
    line-height: 18px;
  }
  @media screen and (min-width: 768px) {
    width: 566px;
    font-size: 18px;
    margin: 0px 0px 15px;
  }
}
.btn-louder-files {
  display: block;
  height: 58px;
  @include borderInput($color-black, $color-yellow);
  @include font($fontRoboto, normal, $color-white);
  text-align: center;

  @media screen and (max-width: 767px) {
    width: 315px;

    padding: 10px 47px;
    margin-bottom: 49px;

    font-size: 15px;
    line-height: 18px;
  }
  @media screen and (min-width: 768px) {
    width: 566px;
    padding: 12px 47px;
    margin-bottom: 50px;

    font-size: 18px;
  }
  @media screen and (min-width: 1440px) {
    width: 640px;
  }
}
.btn-submit {
  display: block;
  height: 58px;
  @include borderInput($color-yellow, $color-yellow);
  @include font($fontRoboto, normal, $color-black);
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    width: 315px;
    padding: 18px 0px;

    font-size: 18px;
    line-height: 21px;
  }
  @media screen and (min-width: 768px) {
    width: 566px;
    padding: 18px 0px;

    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    width: 640px;
    padding: 18px 0px;

    font-size: 18px;
  }
}
