.sectionPrice {
  //position: relative;
  background-color: $color-black;
}
@media screen and (max-width: 767px) {
  .priceHeading {
    position: relative;
    z-index: 2;
    @include font($fontRoboto, bold, $color-white);
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px 36px;

    &-text {
      @include font($fontRoboto, normal, $color-white);
      font-size: 15px;
      line-height: 18px;
      margin: 0px 0px 35px;
    }
  }
  .priceHeading-underline {
    position: relative;
    z-index: 1;
    top: -44px;
    left: 128px;
    width: 81px;
    height: 4px;
    background-color: $color-yellow;
  }
  .priceList {
    padding: 0px;
    margin: 0px;
    padding-bottom: 114px;

    &-items:nth-child(-n + 2) {
      list-style: none;
      margin: 0px 0px 88px;
    }
  }
  .artPrice {
    margin-bottom: 31px;
  }
  .artPainting {
    @include font($fontRoboto, bold, $color-white);
    font-size: 24px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 20px;
  }
  .paintingPrice {
    @include font($fontRoboto, normal, $color-white);
    font-size: 15px;
    text-align: center;
    margin: 0px 0px 20px;

    & > span:nth-child(1) {
      @include font($fontAvangard, normal, $color-yellow);
      font-size: 36px;
    }

    & > span:nth-child(2) {
      @include font($fontRoboto, normal, $color-yellow);
      font-size: 15px;
    }
  }
  .artAbout {
    @include font($fontRoboto, normal, $color-white);
    font-size: 15px;
    text-align: center;
    margin: 0px;
  }
}
@media screen and (min-width: 768px) {
  .sectionPrice {
    padding: 60px 0px 60px;
  }
  .priceHeading {
    position: relative;
    z-index: 2;
    @include font($fontRoboto, bold, $color-white);
    font-size: 48px;
    text-align: left;
    text-transform: uppercase;

    margin: 0px 0px 60px;

    &-text {
      width: 350px;
      @include font($fontRoboto, normal, $color-white);
      font-size: 15px;
      line-height: 18px;
      margin: 0px 0px 35px;
    }
  }
  .priceHeading-underline {
    position: relative;
    z-index: 1;
    top: -74px;
    left: 15px;
    width: 132px;
    height: 6px;
    background-color: $color-yellow;
  }
  .artPrice {
    display: block;
    margin-bottom: 32px;
  }
  .priceList {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;

    &-items {
      width: 217px;
      list-style: none;
    }
  }
  .artPainting {
    @include font($fontRoboto, bold, $color-white);
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .img {
    margin-bottom: 23px;
  }
  .paintingPrice {
    @include font($fontRoboto, normal, $color-white);
    font-size: 15px;
    margin-bottom: 25px;
  }
  .painting-price {
    @include font($fontAvangard, normal, $color-yellow);
    font-size: 36px;
  }
  .painting-square {
    @include font($fontRoboto, normal, $color-yellow);
    font-size: 15px;
  }
  .artAbout {
    @include font($fontRoboto, normal, $color-white);
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 0px;
  }
}
