.sectionPrice {
  background-color: $color-black;
  @media screen and (min-width: 768px) {
    .sectionPrice {
      padding: 60px 0px 60px;
    }
  }
}
.priceBox {
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}
.about-price {
  @media screen and (min-width: 1440px) {
  }
}
.priceHeading {
  position: relative;
  z-index: 2;
  @include font($fontRoboto, bold, $color-white);
  text-transform: uppercase;
  &-underline {
    position: relative;
    z-index: 1;
    background-color: $color-yellow;
    @media screen and (max-width: 767px) {
      top: -44px;
      left: 128px;
      width: 81px;
      height: 4px;
    }
    @media screen and (min-width: 768px) {
      top: -74px;
      left: 15px;
      width: 132px;
      height: 6px;
    }
    @media screen and (min-width: 1440px) {
      top: -69px;
      left: 15px;
      width: 168px;
      height: 8px;
    }
  }
  &-text {
    margin: 0px 0px 35px;
    @include font($fontRoboto, normal, $color-white);
    font-size: 15px;
    line-height: 18px;
    @media screen and (min-width: 767px) {
      width: 350px;
    }
    @media screen and (min-width: 1440px) {
      width: 260px;
      margin: 0;
      font-size: 20px;
      line-height: 23px;
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 36px;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin: 0px 0px 60px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
    margin: 0px 0px 50px;
  }
}

.priceList {
  &-items {
    list-style: none;
    @media screen and (max-width: 767px) {
      &:nth-child(-n + 2) {
        list-style: none;
        margin: 0px 0px 88px;
      }
    }
    @media screen and (min-width: 768px) {
      width: 217px;
    }
    @media screen and (min-width: 1440px) {
      display: block;
      width: auto;
      margin: 0;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 0px;
    margin: 0px;
    padding-bottom: 114px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
  }
  @media screen and (min-width: 1440px) {
    justify-content: start;
  }
}
.artPrice {
  @media screen and (max-width: 767px) {
    margin-bottom: 31px;
  }
  @media screen and (min-width: 768px) {
    display: block;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    display: inline;
    margin: 0;
  }
}
.blokPrice {
  @media screen and (min-width: 1440px) {
    padding-top: 128px;
  }
}
.artPainting {
  @include font($fontRoboto, bold, $color-white);
  font-size: 24px;
  @media screen and (max-width: 767px) {
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px 0px 20px;
  }
  @media screen and (min-width: 768px) {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 0px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1440px) {
    width: auto;
    height: 82px;
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 25px;
  }
}
.img {
  @media screen and (min-width: 768px) {
    margin-bottom: 23px;
  }
}
.artPainting-price {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px 0px 20px;
  }
}
.painting-from {
  @include font($fontRoboto, normal, $color-white);
  font-size: 15px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 25px;
    font-size: 20px;
  }
}
.painting-price {
  @include font($fontAvangard, normal, $color-yellow);
  font-size: 36px;
  @media screen and (max-width: 767px) {
    text-align: center;
    line-height: 80%;
    padding: 0px 5px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
  }
}

.painting-square {
  @include font($fontRoboto, normal, $color-yellow);
  font-size: 15px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.artAbout {
  @include font($fontRoboto, normal, $color-white);
  font-size: 15px;
  @media screen and (max-width: 767px) {
    text-align: center;
    margin: 0px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 25px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1440px) {
    width: 270px;
    font-size: 20px;
    line-height: 23px;
    &:nth-of-type(1) {
      width: 210px;
    }
  }
}
