.sectionAbout {
  background-color: $color-black;
  @media screen and (max-width: 767px) {
    padding: 86px 0px 83px;
  }
  @media screen and (min-width: 768px) {
    padding: 130px 0px 105px;
  }
  @media screen and (min-width: 1440px) {
    padding: 150px 0px 75px;
  }
}
.blockAbout {
  display: block;
  position: relative;
  //z-index: 1;
  //width: 440px;
  margin: 0px 0px 35px;
  @media screen and (min-width: 1440px) {
    margin: 0px 0px 65px;
  }
}
.about-heading {
  position: relative;
  z-index: 3;
  @include font($fontRoboto, bold, $color-white);
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin: 0px 0px 43px;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin: 0px 0px 60px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 64px;
    margin: 0px 0px 50px;
  }
}
.about-heading__underline {
  position: absolute;
  z-index: 1;
  background-color: $color-yellow;
  @media screen and (max-width: 767px) {
    top: 26px;
    left: 123px;
    height: 4px;
    width: 87px;
  }
  @media screen and (min-width: 768px) {
    top: 43px;
    left: 13px;
    height: 6px;
    width: 144px;
  }
  @media screen and (min-width: 1440px) {
    top: 56px;
    left: 25px;
    height: 8px;
    width: 182px;
  }
}

.serviceOffer {
  @include font($fontRoboto, normal, $color-white);
  font-size: 15px;
  line-height: 18px;
  @media screen and (max-width: 767px) {
    margin: 0px 0px 35px;
    &:nth-child(-n + 3) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 438px;
    margin: 0px;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1440px) {
    width: 485px;
    font-size: 20px;
    line-height: 23px;
  }
}

.serviceOfferNone {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.serviceOffer-laptop {
  @include font($fontRoboto, normal, $color-white);
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    width: 438px;
    font-size: 15px;
    line-height: 18px;
  }
  @media screen and (min-width: 1440px) {
    display: block;
    width: 481px;
    font-size: 20px;
    line-height: 23px;
  }
}

.jobExperience {
  position: relative;
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1440px) {
    padding: 0px 0px 311px;
  }
}

.blokExperience {
  //display: block;

  &--underline {
    background-color: $color-yellow;
  }
  &-heading {
    display: block;
    @include font($fontRoboto, bold, $color-white);
    text-transform: uppercase;
    &-year {
      display: block;
      @include font($fontAvangard, normal, $color-yellow);
      //line-height: normal;
      text-transform: uppercase;
    }
  }
  @media screen and (max-width: 767px) {
    width: 106px;
    padding: 185px 0px 70px;
    @include borderLeft;
    &--underline {
      width: 80px;
      height: 5px;
      margin: 0px 0px 13px;
    }

    &-heading {
      width: 106px;
      font-size: 17px;
      margin: 0;

      &-year {
        font-size: 76px;
        // margin-bottom: 13px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    &--underline {
      width: 150px;
      height: 10px;
      //margin: 0px 0px 13px;
    }

    &-heading {
      width: 146px;
      font-size: 24px;
      line-height: 28px;
      margin: 0;
      &-year {
        //display: block;
        @include borderLeft;
        padding: 370px 0px 0px;
        //margin: 0px;
        font-size: 160px;
        //line-height: 0.8;
        text-transform: uppercase;
      }
    }
  }
  @media screen and (min-width: 1440px) {
    position: relative;
    left: 320px;
    &--underline {
      width: 200px;
      height: 13px;
      //margin: 0px 0px 13px;
    }

    &-heading {
      position: absolute;
      top: 240px;
      left: 80px;
      width: 150px;
      &-year {
        position: relative;
        top: 0px;
        font-size: 170px;
        padding: 145px 0px 0px;
      }
    }
  }
}
.blokPaintedWall {
  //display: flex;
  // flex-direction: column;
  position: absolute;
  &-heading-more {
    display: block;
    @include font($fontRoboto, normal, $color-white);
  }
  &-heading-number {
    display: block;
    @include font($fontAvangard, normal, $color-yellow);
  }
  &--underline {
    background-color: $color-yellow;
  }
  &-heading-text {
    display: block;
    @include font($fontRoboto, bold, $color-white);
    text-transform: uppercase;
  }
  @media screen and (max-width: 767px) {
    top: 0px;
    left: 157px;
    //display: inline-block;
    @include borderLeft;
    padding: 0px 0px 122px;

    &-heading-more {
      position: relative;
      top: 12px;
      font-size: 15px;
      //padding-bottom: 5px;
    }
    &-heading-number {
      position: relative;
      top: 10px;
      // display: flex;
      // align-items: flex-end;
      font-size: 76px;
      //line-height: 80%;
      //margin: 0px 0px 15px;
    }
    &--underline {
      width: 80px;
      height: 5px;
      margin: 0px 0px 13px;
    }

    &-heading-text {
      width: 143px;
      font-size: 17px;
      margin: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    left: 220px;
    @include borderLeft;
    padding: 59px 0px 130px;

    &-heading-more {
      position: relative;
      top: 10px;
      font-size: 20px;
      //margin-bottom: 5px;
    }
    &-heading-number {
      position: relative;
      top: 10px;
      font-size: 160px;
      //line-height: 0.8;
      //letter-spacing: 0px;
      // margin: 0px 0px 25px;
    }
    &--underline {
      width: 150px;
      height: 10px;
      margin: 0px 0px 15px;
    }

    &-heading-text {
      width: 185px;
      font-size: 24px;
      line-height: 28px;

      margin: 0px;
    }
  }
  @media screen and (min-width: 1440px) {
    top: -660px;
    left: 640px;
    padding: 356px 0px 170px;
    &-heading-more {
      top: 10px;
      //margin-bottom: 25px;
    }
    &--underline {
      width: 200px;
      height: 13px;
      margin: 0px 0px 30px;
    }

    &-heading-number {
      top: 0px;
      font-size: 170px;
      //margin: 0px 0px 0px;
    }
  }
}
.amountPain {
  display: inline-block;
  position: absolute;

  &-more {
    display: block;
    @include font($fontRoboto, normal, $color-white);
  }
  &-number {
    display: block;
    @include font($fontAvangard, normal, $color-yellow);
  }
  &--underline {
    display: inline-block;
    position: relative;
    background-color: $color-yellow;
  }

  &-text {
    display: block;
    @include font($fontRoboto, bold, $color-white);
    text-transform: uppercase;
  }

  @media screen and (max-width: 767px) {
    width: 143px;
    top: 133px;
    right: 0px;
    padding: 98px 0px 74px;
    @include borderRight;

    &-more {
      position: relative;
      top: 10px;
      padding-left: 34px;
      //margin-bottom: 5px;
      font-size: 15px;
    }

    &--underline {
      top: 0px;
      left: 53px;
      width: 80px;
      height: 5px;
      margin-bottom: 12px;
      // padding-left: 50px;
    }
    &-number {
      position: relative;
      top: 10px;
      font-size: 76px;
      //line-height: 80%;
      letter-spacing: -6px;
      padding-left: 25px;
      //margin-bottom: 12px;
    }
    &-text {
      width: 143px;
      font-size: 17px;
    }
  }
  @media screen and (min-width: 768px) {
    top: -500px;
    left: 444px;
    padding: 850px 0px 74px;
    @include borderLeft;

    &--underline {
      width: 150px;
      height: 10px;
      margin-bottom: 15px;
    }
    &-more {
      position: relative;
      top: 10px;
      font-size: 20px;
    }
    &-number {
      position: relative;
      top: 10px;
      left: -20px;
      font-size: 160px;
      //line-height: 0.8;
      letter-spacing: -8px;
      // margin-bottom: 25px;
    }
    &-text {
      width: 200px;
      font-size: 24px;
      line-height: 28px;
    }
  }
  @media screen and (min-width: 1440px) {
    top: -659px;
    left: 965px;
    padding: 725px 0px 240px;
    &-more {
      top: 10px;
      //margin-bottom: 25px;
    }
    &-number {
      top: 0px;
      font-size: 170px;
      //line-height: 0.8;
      letter-spacing: -6px;
      //margin: 0px 0px 35px;
    }
    &--underline {
      width: 200px;
      height: 13px;
      margin-bottom: 30px;
    }
    &-text {
      width: 200px;
    }
  }
}
