.sectionPaintingCalc {
  background-color: $color-black;
  padding-bottom: 117px;
}

.paintingCalc-heading {
  @media screen and (max-width: 767px) {
    //width: 315px;
    position: relative;
    z-index: 3;
    @include font($fontRoboto, bold, $color-white);
    // font-family: $fontRoboto;
    // font-style: normal;
    // font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;

    //color: $color-white;
    margin: 0px 0px 38px;
  }
}
.background {
  position: relative;
  z-index: 1;
}

.paintingCalc-line {
  position: absolute;
  z-index: 2;
  top: 27px;
  left: 71px;
  background-color: $color-yellow;
  width: 194px;
  height: 4px;
}
.paintingCalc-lines {
  position: absolute;
  z-index: 2;
  top: 61px;
  left: 100px;
  background-color: $color-yellow;
  width: 137px;
  height: 4px;
}

.paintingCalc-text {
  @media screen and (max-width: 767px) {
    @include font($fontRoboto, normal, $color-white);
    // font-family: $fontRoboto;
    // font-style: normal;
    // font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    //color: $color-white;
    margin: 0px 0px 30px;
  }
}

.blockInput {
  &:nth-child(-n + 3) {
    margin: 0px 0px 20px;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
  & > span {
    @media screen and (max-width: 767px) {
      @include font($fontRoboto, normal, $color-white);
      // font-family: $fontRoboto;
      // font-style: normal;
      // font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      // color: $color-white;
      margin: 0px 0px 13px;
    }
  }
}
.data-input {
  @media screen and (max-width: 767px) {
    height: 58px;
    background-color: $color-black;
    border: 1px solid $color-yellow;
  }
}
.sketch {
  @media screen and (max-width: 767px) {
    @include font($fontRoboto, normal, $color-white);
    // font-family: $fontRoboto;
    // font-style: normal;
    // font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    //color: $color-white;
    margin: 0px 0px 13px;
  }
}
.btn-louder-files {
  display: block;
  width: 315px;
  background-color: $color-black;
  border: 1px solid $color-yellow;
  @include font($fontRoboto, normal, $color-white);
  // font-family: $fontRoboto;
  // font-style: normal;
  // font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  //color: $color-white;

  padding: 12px 47px;
  margin-bottom: 49px;
}
.btn-submit {
  @media screen and (max-width: 767px) {
    display: block;
    width: 315px;
    background-color: $color-yellow;
    border: 1px solid $color-yellow;
    @include font($fontRoboto, normal, $color-black);
    // font-family: $fontRoboto;
    // font-style: normal;
    // font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    //color: $color-black;

    padding: 18px 0px;
  }
}
