.sectionClients {
  background-color: $color-black;
  padding-bottom: 75px;
  @media screen and (min-width: 768px) {
    padding: 60px 0px 60px;
  }
}

.clients-heading {
  @media screen and (max-width: 767px) {
    position: relative;
    z-index: 3;
    @include font($fontRoboto, bold, $color-white);
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 86px 0px;
    margin: 0px 0px 50px;
  }
  @media screen and (min-width: 768px) {
    width: 240px;
    position: relative;
    z-index: 3;
    @include font($fontRoboto, bold, $color-white);
    font-size: 48px;
    line-height: 56px;
    text-align: left;
    text-transform: uppercase;

    margin: 0px 0px 50px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.companyLogo:nth-last-child(-n + 2) {
  margin-top: 16px;
}
.clients-line {
  @media screen and (max-width: 767px) {
    position: absolute;
    z-index: 2;
    top: 26px;
    left: 122px;
    background-color: $color-yellow;
    width: 93px;
    height: 4px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: 2;
    top: 42px;
    left: 16px;
    background-color: $color-yellow;
    width: 142px;
    height: 6px;
  }
}
.clients-lines {
  @media screen and (max-width: 767px) {
    position: absolute;
    z-index: 2;
    top: 62px;
    left: 96px;
    background-color: $color-yellow;
    width: 143px;
    height: 4px;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    z-index: 2;
    top: 99px;
    left: 16px;
    background-color: $color-yellow;
    width: 221px;
    height: 6px;
  }
}
